In [6]:
# Importando todas las librerías requeridas para el análisis

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

In [7]:
# Cargando el archivo commo dataframe
df_dsex = pd.read_csv("./data/sexuales.csv")

In [8]:
# Nombre y tipo de datos de las columnas
df_dsex.dtypes

DEPARTAMENTO    object
MUNICIPIO       object
CODIGO DANE      int64
ARMAS MEDIOS    object
FECHA HECHO     object
GENERO          object
GRUPO ETARIO    object
CANTIDAD         int64
delito          object
dtype: object

In [11]:
# Cantidad y porcentaje de cada departamento de los casos reportados como delitos sexuales
rel_frecuency = df_dsex["DEPARTAMENTO"].value_counts(normalize = True).to_frame()
abs_frecuency = df_dsex["DEPARTAMENTO"].value_counts().to_frame()
pd.concat([abs_frecuency, rel_frecuency], axis = 1)

                    DEPARTAMENTO  DEPARTAMENTO
CUNDINAMARCA               43316      0.181080
ANTIOQUIA                  27517      0.115033
VALLE                      25111      0.104975
SANTANDER                  16601      0.069400
ATLÁNTICO                  11122      0.046495
HUILA                      10005      0.041825
TOLIMA                      8614      0.036010
BOLÍVAR                     8082      0.033786
BOYACÁ                      7691      0.032152
META                        7579      0.031684
RISARALDA                   7192      0.030066
NARIÑO                      6482      0.027098
CAUCA                       6333      0.026475
CÓRDOBA                     6289      0.026291
NORTE DE SANTANDER          5888      0.024614
CALDAS                      5704      0.023845
MAGDALENA                   5594      0.023385
CESAR                       4623      0.019326
SUCRE                       4517      0.018883
CAQUETÁ                     3428      0.014331
QUINDÍO                     3357      0.014034
GUAJIRA                     2746      0.011480
CASANARE                    2328      0.009732
PUTUMAYO                    2164      0.009046
CHOCÓ                       1990      0.008319
ARAUCA                      1911      0.007989
AMAZONAS                     949      0.003967
GUAVIARE                     843      0.003524
SAN ANDRÉS                   448      0.001873
VICHADA                      314      0.001313
GUAINÍA                      286      0.001196
VAUPÉS                       185      0.000773

In [21]:
#TOP 3 departamentos más afectados por delitos sexuales de Enero de 2010 hasta Julio de 2021
abs_frecuency.head(3)

              DEPARTAMENTO
CUNDINAMARCA         43316
ANTIOQUIA            27517
VALLE                25111

In [22]:
#Convertir el campo FECHA HECHO de type object a type date
anio = pd.to_datetime(df_dsex["FECHA HECHO"])

In [14]:
#TOP 3 departamentos más afectados por delitos sexuales en el último año
df_ultanio = df_dsex.loc[anio > "2020-07-31"]
absanio_frecuency = df_ultanio["DEPARTAMENTO"].value_counts().to_frame()
absanio_frecuency.head(3)

              DEPARTAMENTO
CUNDINAMARCA          6271
ANTIOQUIA             4020
VALLE                 2333

In [15]:
#Medio más común para cometer delitos sexuales.
arm_frecuency = df_dsex["ARMAS MEDIOS"].value_counts().to_frame()
arm_frecuency.head(1)

                     ARMAS MEDIOS
SIN EMPLEO DE ARMAS        109403

In [16]:
#Porcentaje y cantidad de cada género que es reportado como victíma de delito sexual
rel_frecuencyG = df_dsex["GENERO"].value_counts(normalize = True).to_frame()
abs_frecuencyG = df_dsex["GENERO"].value_counts().to_frame()
pd.concat([abs_frecuencyG, rel_frecuencyG], axis = 1)

            GENERO    GENERO
FEMENINO    204560  0.855152
MASCULINO    33747  0.141077
NO REPORTA     902  0.003771

In [17]:
#Porcentaje y cantidad del último año por género reportado como delito sexual
df_ultanioG = df_dsex.loc[anio > "2020-07-31"]
relanio_frecuencyG = df_ultanioG["GENERO"].value_counts(normalize = True).to_frame()
absanio_frecuencyG = df_ultanioG["GENERO"].value_counts().to_frame()
pd.concat([absanio_frecuencyG, relanio_frecuencyG], axis = 1)

            GENERO    GENERO
FEMENINO     23580  0.846405
MASCULINO     4278  0.153559
NO REPORTA       1  0.000036

In [18]:
#Porcentaje y cantidad de los grupos etarios victímas de los delitos sexuales
rel_frecuencyGr = df_dsex["GRUPO ETARIO"].value_counts(normalize = True).to_frame()
abs_frecuencyGr = df_dsex["GRUPO ETARIO"].value_counts().to_frame()
pd.concat([abs_frecuencyGr, rel_frecuencyGr], axis = 1)

             GRUPO ETARIO  GRUPO ETARIO
MENORES            123445      0.516055
ADULTOS             74010      0.309395
ADOLECENTES         41137      0.171971
NO REPORTA            617      0.002579

In [19]:
#Porcentaje y cantidad de los grupos etarios victímas en el último año de delitos sexuales
df_ultanioGr = df_dsex.loc[anio > "2020-07-31"]
relanio_frecuencyGr = df_ultanioGr["GRUPO ETARIO"].value_counts(normalize = True).to_frame()
absanio_frecuencyGr = df_ultanioGr["GRUPO ETARIO"].value_counts().to_frame()
pd.concat([absanio_frecuencyGr, relanio_frecuencyGr], axis = 1)

             GRUPO ETARIO  GRUPO ETARIO
MENORES             12767      0.458272
ADULTOS             10314      0.370221
ADOLECENTES          4502      0.161599
NO REPORTA            276      0.009907

In [20]:
#Porcentaje y cantidad de los 3 delitos más comunes para delitos sexuales
rel_frecuencyD = df_dsex["delito"].value_counts(normalize = True).to_frame()
abs_frecuencyD = df_dsex["delito"].value_counts().to_frame()
pd.concat([abs_frecuencyD, rel_frecuencyD], axis = 1).head(3)

                                                    delito    delito
ARTÍCULO 209. ACTOS SEXUALES CON MENOR DE 14 AÑOS    81340  0.340037
ARTÍCULO 208. ACCESO CARNAL ABUSIVO CON MENOR D...   54224  0.226680
ARTÍCULO 205. ACCESO CARNAL VIOLENTO                 36702  0.153431