In [6]:
# Importando todas las librerías requeridas para el análisis

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

In [7]:
# Cargando el archivo commo dataframe
df_dhom = pd.read_csv("./data/homicidio.csv")

In [8]:
# Nombre y tipo de datos de las columnas
df_dhom.dtypes

DEPARTAMENTO            object
MUNICIPIO               object
CODIGO DANE              int64
ARMAS MEDIOS            object
FECHA HECHO             object
GENERO                  object
GRUPO ETARÍO            object
DESCRIPCIÓN CONDUCTA    object
CANTIDAD                 int64
dtype: object

In [10]:
# Cantidad y porcentaje de cada departamento de los casos reportados como delitos de Homicidio
abs_frecuency = df_dhom["DEPARTAMENTO"].value_counts().to_frame()
rel_frecuency = df_dhom["DEPARTAMENTO"].value_counts(normalize = True).to_frame()
pd.concat([abs_frecuency, rel_frecuency], axis = 1)

                    DEPARTAMENTO  DEPARTAMENTO
VALLE                      38669      0.180812
ANTIOQUIA                  34126      0.159569
CUNDINAMARCA               28539      0.133445
CAUCA                       9298      0.043476
ATLÁNTICO                   8196      0.038324
NARIÑO                      8085      0.037805
NORTE DE SANTANDER          7693      0.035972
BOLÍVAR                     6437      0.030099
SANTANDER                   6412      0.029982
CÓRDOBA                     6370      0.029785
TOLIMA                      6032      0.028205
META                        5269      0.024637
CESAR                       5024      0.023492
RISARALDA                   4946      0.023127
HUILA                       4941      0.023104
MAGDALENA                   4717      0.022056
CALDAS                      3968      0.018554
GUAJIRA                     3524      0.016478
QUINDÍO                     3487      0.016305
BOYACÁ                      2941      0.013752
CAQUETÁ                     2781      0.013004
CHOCÓ                       2511      0.011741
SUCRE                       2503      0.011704
PUTUMAYO                    2244      0.010493
ARAUCA                      1913      0.008945
CASANARE                    1875      0.008767
GUAVIARE                     484      0.002263
SAN ANDRÉS                   402      0.001880
VICHADA                      273      0.001277
AMAZONAS                     135      0.000631
GUAINÍA                       37      0.000173
VAUPÉS                        31      0.000145

In [11]:
#TOP 3 departamentos más afectados por delitos de homicidio de Enero de 2010 hasta Julio de 2021
abs_frecuency.head(3)

              DEPARTAMENTO
VALLE                38669
ANTIOQUIA            34126
CUNDINAMARCA         28539

In [13]:
#Convertir el set FECHA HECHO de type object a type date
anio = pd.to_datetime(df_dhom["FECHA HECHO"])

In [15]:
#TOP 3 departamentos más afectados por delitos de homicidios en el último año
df_ultanio = df_dhom.loc[anio > "2020-07-31"]
absanio_frecuency = df_ultanio["DEPARTAMENTO"].value_counts().to_frame()
absanio_frecuency.head(3)

              DEPARTAMENTO
VALLE                 3061
ANTIOQUIA             2990
CUNDINAMARCA          2375

In [16]:
#Arma más común usada para delitos de homicidio.
arm_frecuency = df_dhom["ARMAS MEDIOS"].value_counts().to_frame()
arm_frecuency.head(1)

               ARMAS MEDIOS
ARMA DE FUEGO        115936

In [18]:
#Porcentaje y cantidad de cada género que es reportado como victíma de Homicidio
rel_frecuencyG = df_dhom["GENERO"].value_counts(normalize = True).to_frame()
abs_frecuencyG = df_dhom["GENERO"].value_counts().to_frame()
pd.concat([abs_frecuencyG, rel_frecuencyG], axis = 1)
#Se reporta que aparecen campos vacíos en el data set usado. En los campos de genero.

            GENERO    GENERO
MASCULINO   188862  0.883098
FEMENINO     24925  0.116547
-               45  0.000210
NO REPORTA      31  0.000145

In [19]:
#Porcentaje y cantidad del último año por género reportado como Homicidio
df_ultanioG = df_dhom.loc[anio > "2020-07-31"]
relanio_frecuencyG = df_ultanioG["GENERO"].value_counts(normalize = True).to_frame()
absanio_frecuencyG = df_ultanioG["GENERO"].value_counts().to_frame()
pd.concat([absanio_frecuencyG, relanio_frecuencyG], axis = 1)

           GENERO    GENERO
MASCULINO   17085  0.891655
FEMENINO     2067  0.107875
-               9  0.000470

In [21]:
#Porcentaje y cantidad de los grupos etarios victímas de homicidios
rel_frecuencyGr = df_dhom["GRUPO ETARÍO"].value_counts(normalize = True).to_frame()
abs_frecuencyGr = df_dhom["GRUPO ETARÍO"].value_counts().to_frame()
pd.concat([abs_frecuencyGr, rel_frecuencyGr], axis = 1)

             GRUPO ETARÍO  GRUPO ETARÍO
ADULTOS            199168      0.931288
ADOLECENTES         10935      0.051131
MENORES              3665      0.017137
NO REPORTA             95      0.000444

In [23]:
#Porcentaje y cantidad de los grupos etarios victímas en el último año de homicidios
df_ultanioGr = df_dhom.loc[anio > "2020-07-31"]
relanio_frecuencyGr = df_ultanioGr["GRUPO ETARÍO"].value_counts(normalize = True).to_frame()
absanio_frecuencyGr = df_ultanioGr["GRUPO ETARÍO"].value_counts().to_frame()
pd.concat([absanio_frecuencyGr, relanio_frecuencyGr], axis = 1)

             GRUPO ETARÍO  GRUPO ETARÍO
ADULTOS             18131      0.946245
ADOLECENTES           729      0.038046
MENORES               243      0.012682
NO REPORTA             58      0.003027

In [24]:
#Porcentaje y cantidad de los 3 delitos más comunes para Homicidios
rel_frecuencyD = df_dhom["DESCRIPCIÓN CONDUCTA"].value_counts(normalize = True).to_frame()
abs_frecuencyD = df_dhom["DESCRIPCIÓN CONDUCTA"].value_counts().to_frame()
pd.concat([abs_frecuencyD, rel_frecuencyD], axis = 1).head(3)

,DESCRIPCIÓN CONDUCTA,DESCRIPCIÓN CONDUCTA
HOMICIDIO,154301,0.721495
HOMICIDIO CULPOSO ( EN ACCIDENTE DE TRÁNSITO),59562,0.278505